node_modules
.babelrc
.env
package-lock.json

playground"export SENDGRID_API_KEY='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'"  echo "sendgrid.env"  source ./sendgrid.env
"sendgrid.env" 
